* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
  background-color: #ffffff;
}

.head-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #334059;
}

.normal-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #334059;
}

.table-head-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
    letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #909EBB;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #E4E7F2;
  &__row {
      display: flex;
    justify-content: space-between;
    &-item {
      //margin-right: 40px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &__header {
    border-top: 1px solid #E4E7F2;
    border-bottom: 1px solid #E4E7F2;
    text-align: left;

    &-item {
      padding: 16px 0;
    }
  }
}

.long-td {
  max-width: 270px;
  width: 100%;
}

.bid-td {
  max-width: 240px;
  width: 100%;
}

.large-td {
  max-width: 225px;
  width: 100%;
}

.wide-td {
  max-width: 210px;
  width: 100%;
}

.middle-td {
  max-width: 175px;
  width: 100%;
}

.standard-td {
  max-width: 170px;
  width: 100%;
}

.medium-td {
  max-width: 150px;
  width: 100%;
}

.small-td {
  max-width: 140px;
  width: 100%;
}

.short-td {
  max-width: 130px;
  width: 100%;
}

.tiny-td {
  max-width: 115px;
  width: 100%;
}

.shallow-td {
  max-width: 105px;
  width: 100%;
}

.thin-td {
  max-width: 90px;
  width: 100%;
}

.chevron-td {
  max-width: 44px;
  width: 100%;
}